#content {
    background: #ffffffbb;
    width: fit-content;
    white-space: nowrap;
    padding: 0 0.5rem;
    font-size: 1rem;
    height: 2.3rem;
    line-height: 2.3rem;
}

span {
    font-weight: bold;
}
