:host {
  min-width: 18rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

#panel {
  min-width: 18rem;
}

#panel {
  position: absolute;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#gutter {
  border: none;
  width: 5px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}

#hide {
  border: solid 1px #999;
  border-left: none;
  color: #999;
  padding: 0.7rem 0.5rem 0.7rem 0;
  border-radius: 0 10px 10px 0;
  width: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  top: 5.8rem;
  left: 25rem;
  background-color: #fff;
  cursor: pointer;
}

#hide i:before {
  content: "\f104";
}

#hide.closed {
  left: 5px !important;
}

#hide.closed i:before {
  content: "\f105";
}

#hide:hover {
  border-color: #000;
  color: #000;
}

#menu {
  border-top: solid 1px #bbb;
  background-color: #fff;
  height: 2.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 6px;
  z-index: 1;
  font-size: 0;
}

#treeview-list {
  position: absolute;
  top : 0;
  left: 0;
  right: 5px;
  bottom: 2.3rem;
  background : #fff;
  padding-left : 1rem;
  padding-top : 1rem;
  padding-bottom : 1.5rem;
  padding-right : 0.7rem;
  margin: 0;
  margin-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

ul {
  list-style: none;
  padding-left: 1rem;
  flex-basis: 100%;
  order: 20;
}

li {
  color: #999;
  border-top: solid 1px #ddd;
  line-height: 1.3rem;
}

li > div {
  display: flex;
  flex-wrap: wrap;
}

li.active {
  color: #000;
}

span {
  display: inline-block;
  margin: 0.2rem;
  flex-grow: 1;
  order: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width: 0;
}

span.resnok {
  font-style: italic;
}

i {
  width: 0.8rem;
  text-align:center;
  min-width: 0;
}

i.movedown {
  order: 8;
}

i.moveup {
  order: 7;
}

i.selcircle {
  order: 2;
  padding-top: 0.75rem;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
}

i.selbox {
  order: 2;
  padding-top: 0.75rem;
  margin-left: 0.2rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

i.del {
  order: 12;
}

i.expand {
  order: 1;
  padding-top: 0.35rem;
}

i.spacer.caret {
  order: 1;
}

i.spacer.tool {
  order: 12;
}

i.legend {
  order: 12;
}

i.opacity {
  order: 9;
}

i.swipe-left {
  order: 10;
}

i.swipe-right {
  order: 11;
}

i.zoomres {
  order: 6;
}

#treeview-list i.tool {
  margin-left: 0.3rem;
  line-height: 1.5rem;
  height: 1.5rem;
}

#treeview-list i.advanced {
  display: none;
}

#treeview-list i.active {
  display:block;
}

#treeview-list.advanced i.advanced {
  display:block;
}

#menu i {
  margin-top: 1rem;
  color: #777;
  margin-right: 0.2rem;
  width: 3rem;
}

#menu i.selected {
  color: #000;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  color: #000;
}

img.iconurl {
  order: 2;
  vertical-align: middle;
  margin-top:0.2rem;
  max-height: 1.2rem;
}

img.legend {
  margin-left: 2rem;
}

girafe-basemap {
  position: absolute;
  right: 0;
  top: 0;
}

#swipe {
  display: none;
}