<link rel="stylesheet" href="lib/openlayers/ol.css">

<div id="container">
    <div id="ol-map"></div>
    <div id="cs-map"></div>
    <input id="swiper" type="range" min="0" max="1000" step="1">
</div>
